/* General App styling */
.App {
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures footer sticks to bottom */
  font-family: Arial, sans-serif; /* or any other font you prefer */
  color: #e1003c;
}

/* Header styling */


/* Body styling */

/* Footer styling */
